</main>

<div class="mt-auto">
    <footer id="footer" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md">
                    <p class="font-weight-bolder footer-toggle collapsed m-0 pt-5 pb-10"
                        data-toggle="collapse" data-target="#footer-list-company" aria-expanded="false" aria-controls="footer-list-company"
                    >Company
                    </p>
                    <div id="footer-list-company" class="collapse" data-parent="#footer">
                        <ul class="list-unstyled">
                            <li><a href="https://www.reasonstudios.com/about">About us</a></li>
                            <li><a href="https://www.reasonstudios.com/contact">Contact us</a></li>
                            <li><a href="https://www.reasonstudios.com/press">Press</a></li>
                            <li><a href="https://developer.reasonstudios.com/">Developers</a></li>
                            <li><a href="https://careers.reasonstudios.com/">Careers</a></li>
                            <li><a href="https://www.reasonstudios.com/agreements">Terms of service</a></li>
                            <li><a href="https://www.reasonstudios.com/reason/schools">Reason for Education</a></li>
                            <li><a href="https://www.reasonstudios.com/reason/buy/find-a-dealer" data-pjax="disable">Find a dealer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md">
                    <p class="font-weight-bolder footer-toggle collapsed m-0 pt-5 pb-10"
                        data-toggle="collapse" data-target="#footer-list-products" aria-expanded="false" aria-controls="footer-list-products"
                    >Products
                    </p>
                    <div id="footer-list-products" class="collapse" data-parent="#footer">
                        <ul class="list-unstyled">
                            <li><a href="https://www.reasonstudios.com/plus">Reason+</a></li>
                            <li><a href="https://www.reasonstudios.com/reason">Reason</a></li>
                            <li><a href="https://www.reasonstudios.com/sound-packs">Sound Packs</a></li>
                            <li><a href="https://www.reasonstudios.com/reason/instruments-effects">Instruments &amp; Effects</a></li>
                            <li><a href="https://www.reasonstudios.com/mobile-apps">Mobile Apps</a></li>
                            <li><a href="https://www.reasonstudios.com/recycle">ReCycle</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md">
                    <p class="font-weight-bolder footer-toggle collapsed m-0 pt-5 pb-10"
                        data-toggle="collapse" data-target="#footer-list-stories" aria-expanded="false" aria-controls="footer-list-stories"
                    >Stories
                    </p>
                    <div id="footer-list-stories" class="collapse" data-parent="#footer">
                        <ul class="list-unstyled">
                            <li><a href="https://www.reasonstudios.com/blog/category/artist-stories"
                            >Artist stories</a></li>
                            <li><a href="https://www.reasonstudios.com/blog/category/tutorials"
                            >Tutorials</a></li>
                            <li><a href="https://www.reasonstudios.com/blog/category/crew"
                            >Crew</a></li>
                            <li><a href="https://www.reasonstudios.com/blog"
                            >Blog</a></li>
                            <li><a href="https://www.reasonstudios.com/feed" data-pjax="disable"
                            >RSS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md">
                    <p class="font-weight-bolder footer-toggle collapsed m-0 pt-5 pb-10"
                        data-toggle="collapse" data-target="#footer-list-support" aria-expanded="false" aria-controls="footer-list-support"
                    >Support
                    </p>
                    <div id="footer-list-support" class="collapse" data-parent="#footer">
                        <ul class="list-unstyled">
                            <li><a href="https://help.reasonstudios.com">Product support</a></li>
                            <li><a href="https://help.reasonstudios.com/hc/categories/360000265873-Support-News">Updates</a></li>
                            <li><a href="https://help.reasonstudios.com/hc/requests/new">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md">
                    <p class="font-weight-bolder footer-toggle collapsed m-0 pt-5 pb-10"
                        data-toggle="collapse" data-target="#footer-list-shop" aria-expanded="false" aria-controls="footer-list-shop"
                    >Shop
                    </p>
                    <div id="footer-list-shop" class="collapse" data-parent="#footer">
                        <ul class="list-unstyled">
                            <li><a href="https://www.reasonstudios.com/shop/">Shop</a></li>
                            <li><a href="https://www.reasonstudios.com/shop/product/reason/">Reason</a></li>
                            <li><a href="https://www.reasonstudios.com/shop/browse/">Plugins &amp; Sounds</a></li>
                            <li><a href="https://www.reasonstudios.com/shop/brands/">Brands</a></li>
                            <li><a href="https://www.reasonstudios.com/shop/deals/">Hot Deals</a></li>
                            <li><a href="https://www.reasonstudios.com/shop/rewards/">Rewards</a></li>
                            <li><a href="https://www.reasonstudios.com/rent-to-own">Rent-to-Own</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-sm-center mt-15">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item d-block d-sm-inline-block"><a href="https://www.reasonstudios.com/social_media" target="_blank"><span class="sr-only">Facebook</span><svg class="main-footer__social-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-fb"></use></svg><span class="d-inline d-sm-none pl-15">Facebook</span></a></li>
                    <li class="list-inline-item d-block d-sm-inline-block"><a href="https://www.reasonstudios.com/social_media" target="_blank"><span class="sr-only">Twitter</span><svg class="main-footer__social-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-tw"></use></svg><span class="d-inline d-sm-none pl-15">Twitter</span></a></li>
                    <li class="list-inline-item d-block d-sm-inline-block"><a href="https://www.reasonstudios.com/social_media" target="_blank"><span class="sr-only">Instagram</span><svg class="main-footer__social-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-ig"></use></svg><span class="d-inline d-sm-none pl-15">Instagram</span></a></li>
                    <li class="list-inline-item d-block d-sm-inline-block"><a href="https://www.reasonstudios.com/social_media" target="_blank"><span class="sr-only">Youtube</span><svg class="main-footer__social-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-yt"></use></svg><span class="d-inline d-sm-none pl-15">Youtube</span></a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

<script src="{{asset 'bootstrap-4.5.3.bundle.min.js'}}"></script>
